@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    box-shadow 0.2s ease;
}

:root {
  --max-width: 900px;
  --primary-color: #4ad;
  --secondary-color: #228;
  --tertiary-color: #fe9;
  --background-color: #d5dfe4;
  --text-color: #111;
  --h2-color: var(--text-color);
  --h3-color: var(--primary-color);
  --header-background: var(--primary-color);
  --header-text-color: #fff;
  --footer-text-color: #888;
  --link-color: var(--secondary-color);
  --link-hover-color: var(--primary-color);
  --section-border-color: var(--secondary-color);
  --button-background: var(--primary-color);
  --button-hover-background: var(--secondary-color);
  --border-radius: 1.25rem;
  --shadow: 2px 1px 3px #000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 1.25rem;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: #f8f8f8;
  padding: 1.8rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

h1 {
  color: var(--h1-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

button,
.button {
  max-width: 300px;
  justify-content: center;
  margin: 0 auto;
  padding: 0.6em 0.9em;
  background-color: var(--button-background);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: #eee;
  box-shadow: var(--shadow);
  display: flex;
}