@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    box-shadow 0.2s ease;
}

:root {
  --max-width: 900px;
  --primary-color: #29c;
  --secondary-color: #228;
  --tertiary-color: #fe9;
  --text-color: #000;
  --border-radius: 1em;
  --shadow: 2px 1px 3px #000;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 1.25rem;
}

main {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

h1 {
  color: var(--h1-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#controls {
  position: relative;
  z-index: 10;
}

button {
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--tertiary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  color: #000;
  box-shadow: var(--shadow);
  display: flex;
}

#photoWrapper {
  width: 600px;
  height: 600px;
  overflow: hidden;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#photo {
  width: auto;
  height: auto;
  transform-origin: center;
  transition: transform 0.05s linear;
  display: block;
}

.hidden {
  display: none;
}
