@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}

:root {
  --max-width: 900px;
  --bg-color: linear-gradient(180deg, #258, #134);
  --button-color: linear-gradient(180deg, #ffc, #fc4);
  --text-color: #000;
  --border-radius: 1.5em;
  --shadow: 2px 1px 3px #000;
}

body {
  background: var(--bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  padding: 0.5rem;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: #f8f8f8;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-style: italic;
  margin: 0.5rem 0;
}

#controls {
  position: relative;
  z-index: 10;
}

button {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  background: var(--button-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  color: #000;
  box-shadow: var(--shadow);
  margin: 0.5rem auto;
}

#photoWrapper {
  width: 600px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

#photo {
  transform-origin: center;
  transition: transform 0.05s linear;
  display: block;
}

.hidden {
  display: none;
}
